@charset "utf-8";

body {
    margin: auto;    /* Centrera */
    width: 800px;
    font-family: sans-serif;
    font-size: 100%;
}

section, header, footer {
    outline: 2px solid red;
}

header {
    text-align: center;
}

.startpage > section > h1 {
    font-size: 500%;    /* Stoooort */
}

.tagline {
    font-size: 120%;
    padding: 0.5em;
    border-top: 3px double #00ff7f;
    border-bottom: 3px double #00ff7f;
    margin: 4em 0;
}

.startpage > section {
    display: inline-block; /*Fast bredd bredvid varandra */
    width: 20%;
    margin-right: 6%;
    vertical-align: top;
}

.startpage > section:last-of-type {
    margin-right: 0;
}

.startpage > section > h2 {
    margin: 0 0 1em;
    padding: 2em 0;
    background-color: #7f7f7f;
    text-align: center;
}

footer {
    display: block;
    margin-top: 3em;
    text-align: center;
    color: rgb(128,128,128);
}